<html lang="ko_kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:/Users/Aro/Desktop/workspace/ACDD/app/static/app/assets/css/main.css">
    <script src="https://kit.fontawesome.com/kit_code.js" crossorigin="anonymous"></script>
    <title>Dashboard</title>
</head>

<body>
    <nav class="navbar">
      <a href="">ACDD</a>
      <a href="#">Home</a>
      <a href="#">Detail</a>
    </nav>
  
    <div class="dashboard-container">
      <div class="dashboard">
        <a href="#"><h1 >사유서 처리현황</h1></a>
        <div></div>
        <div class="chart"></div>
      </div>
  
      <div class="dashboard">
        <a href="#"><h1>금일 탐지된 팀원</h1></a>
      </div>
  
      <div class="dashboard">
        <a href="#"><h1>대기중인 사유서</h1></div>
            <div class="dashboard"> 월별 탐지 추이</div>
    </div>
  </body>
  