{% extends 'base.html' %}

{% block content %}
<style>
    .input-group {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
</style>


<div class="container">
    <div class="row justify-content-end">
        <div class="col-2">
            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="최신순">
            <datalist id="datalistOptions">
                <option value="최신순">
                <option value="오래된 순">
                <option value="처리완료">
                <option value="대기중">
                <option value="미처리">
            </datalist>
        </div>
    </div>
</div>
 

<div class="container">
    <div class="fixed-table-container text-center">
        <div></div>
        <div class="fixed-table-body">
            <table class="table table-light table-hover caption-top">
                <caption style="font-size: 30px;">상세보기</caption>
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>날짜</th>
                        <th>IP</th>
                        <th>이름</th>
                        <th>부서</th>       
                        <th>상태</th>     
                        <th>상세보기</th>
                    </tr>
                </thead>
                <tbody>
                {% for dection in dection_list %}
                <tr>
                    <td>{{dection.dect_no}}</td>
                    <td>{{dection.create_at}}</td>
                    <td>{{dection.ip}}</td>
                    <td>{{dection.emp_no__emp_name}}</td>
                    <td>{{dection.emp_no__depmt_no__depmt_name}}</td>
                    {% if dection.status == 0 %}
                        <td>미처리</td>
                    {% elif dection.status == 1 %}
                        <td>대기중</td>
                    {% elif dection.status == 2 %}
                        <td>처리완료</td>
                    {% endif %}
                    <td><button class="btn btn-primary">상세보기</button></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="pagination">
        <nav aria-label="">
            <ul class="pagination">
                {% if dection_list.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ dection_list.previous_page_number }}{% if request.GET.search_key %}&search_key={{ request.GET.search_key }}{% endif %}" tabindex="-1" aria-disabled="true">이전</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">이전</a>
                    </li>
                {% endif %}
                {% for page_number in dection_list.paginator.page_range %}
                {% if page_number == dection_list.number %}
                    <li class="page-item active"><a class="page-link" href="?page={{ page_number }}{% if request.GET.search_key %}&search_key={{ request.GET.search_key }}{% endif %}">{{ page_number }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_number }}{% if request.GET.search_key %}&search_key={{ request.GET.search_key }}{% endif %}">{{ page_number }}</a></li>
                {% endif %}
                {% endfor %}


                
                {% if dection_list.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ dection_list.next_page_number }}{% if request.GET.search_key %}&search_key={{ request.GET.search_key }}{% endif %}" tabindex="+1" aria-disabled="true">다음</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="row">
        <div class="col-12">
        <form action="{% url 'main:detail' %}" method='GET'>
        <div class="search-wrapper">
            <div class="input-group">
                <div class="form-outline">
                    <input type="search" id="search-input" class="form-control" name="search_key" value="{{ search_key }}" onkeydown="searchTable(event)" />
                </div>
                <button type="button" class="btn btn-primary" onclick="searchTable(event)">
                    <i class="fas fa-search">검색</i>
                </button>
                
        <form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
