{% extends 'base.html' %}
{% block content %}
<script>

function todayDection(){
    const data = {{ data | safe }};
    const labels = {{ data_labels | safe }};

    const todayDection = document.getElementById('today_dection').getContext('2d');
    const todayDectChart = new Chart(todayDection, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: '탐지수',
                fill: false,
                data: data,
                backgroundColor: [
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                ],
                // borderColor: ['rgba(255, 99, 132, 1)'],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,
                            steps: 10,
                            stepValue: 1,
                            max: 100
                        }
                    }]
            },
            title: {
                display: true,
                text: '금일 시간별 탐지건수',
                fontSize: 18,
                align: 'left',
            },
            elements: {
                point: {
                    radius: 0,
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: '금일탐지건수',
                    align: 'left',
                }
            }
        }
    });
    return todayDectChart
}

function storageUse(){
    const storage = document.getElementById("storage");
    const useStorage = {{ useDrive | safe }}
    const storageChart = new Chart(storage, {
        type: 'doughnut',
        data: {
            labels: ["Storage amount used", 'Remaining'],
            datasets: [{
                label: '# of Votes',
                data: [useStorage, 100],
                backgroundColor: [
                    'rgba(59, 130, 246, 1)',
                ],
                borderWidth: 8 // Increase the border width
            }]
        },
        options: {
            title: { 
                display: true,
                text: '스토리지 사용량',
                fontSize: 16,
            },
            rotation: 1 * Math.PI,
            circumference: 1 * Math.PI,
            legend: {
                display: false
            },
            tooltip: {
                enabled: false
            },
            cutoutPercentage: 80, // Increase the cutout percentage
            plugins: {
            }
        }
    });
}

function DBStorage(){
    const DBStorage = document.getElementById("DB_storage");
    const useDB = {{useDB | safe}}
    const percentuseDB = useDB / 100;

    const DBStorageChart = new Chart(DBStorage, {
        type: 'doughnut',
        data: {
            labels: ["DB amount used", "Remaining"],
            datasets: [{
                label: '# of Votes',
                data: [percentuseDB, 100 - percentuseDB],
                backgroundColor: [
                    'rgba(231, 76, 60, 1)',
                ],
                borderWidth: 8 // Increase the border width
            }]
        },
        options: {
            title: { 
                display: true,
                text: 'DB 사용량',
                fontSize: 16,
            },
            rotation: 1 * Math.PI,
            circumference: 1 * Math.PI,
            legend: {
                display: false
            },
            tooltip: {
                enabled: false
            },
            cutoutPercentage: 80 // Increase the cutout percentage
        }
    });
    return DBStorageChart;
}

function CPUUse(){
    const CPUUsage = document.getElementById("CPU_usage");
    const useCPU = {{useCPU | safe}}
    const CPUUsageChart = new Chart(CPUUsage, {
        type: 'doughnut',
        data: {
            labels: ["CPU amount used", "Remaining"],
            datasets: [{
            label: '# of Votes',
                data: [useCPU, 100],
                backgroundColor: [
                    'rgba(59, 130, 246, 1)'
                ],
                borderWidth: 8 // Increase the border width
            }]
        },
        options: {
            title: { 
                display: true,
                text: 'CPU 사용량',
                fontSize: 16,
            },
            rotation: 1 * Math.PI,
            circumference: 1 * Math.PI,
            legend: {
                display: false
            },
            tooltip: {
                enabled: false
            },
            cutoutPercentage: 80 // Increase the cutout percentage
        }
    });

    return CPUUsageChart;
}

function networkTraffic(){

    const bytesReceived = {{ bytesReceived | safe }};  
    const percentReceived = bytesReceived / 100;

    const networkTraffic = document.getElementById("network_traffic");
    const networkTrafficChart = new Chart(networkTraffic, {
        type: 'doughnut',
        data: {
            labels: ['Received', 'Remaining'],
            datasets: [{
                label: '# of Votes',
                data: [percentReceived, 100 - percentReceived],
                backgroundColor: [
                    'rgba(59, 130, 246, 1)'
                ],
                borderWidth: 8
            }]
        },
        options: {
            title: { 
                display: true,
                text: '네트워크 트래픽',
                fontSize: 16,
            },
            rotation: 1 * Math.PI,
            circumference: 1 * Math.PI,
            legend: {
                display: false
            },
            tooltip: {
                enabled: false
            },
            cutoutPercentage: 80 // Increase the cutout percentage
        }
    });
}

function replaceTable(lists, tableBody, target){
    tableBody.innerHTML = "";
    lists.forEach((list) => {
        const newRow = document.createElement("tr");

        const dectNoCell = document.createElement("td");
        dectNoCell.textContent = list.dect_no;
        newRow.appendChild(dectNoCell);

        const createAtCell = document.createElement("td");
        createAtCell.textContent = convertToLocalTime(list.create_at);
        newRow.appendChild(createAtCell);

        const ipCell = document.createElement("td");
        ipCell.textContent = list.ip;
        newRow.appendChild(ipCell);
        if (target === "report"){
            const empNameCell = document.createElement("td");
            empNameCell.textContent = list.dect_no__emp_no__emp_name;
            newRow.appendChild(empNameCell);

            const depmtNameCell = document.createElement("td");
            depmtNameCell.textContent = list.dect_no__emp_no__depmt_no__depmt_name;
            newRow.appendChild(depmtNameCell);
        }else{
            const empNameCell = document.createElement("td");
            empNameCell.textContent = list.emp_no__emp_name;
            newRow.appendChild(empNameCell);

            const depmtNameCell = document.createElement("td");
            depmtNameCell.textContent = list.emp_no__depmt_no__depmt_name;
            newRow.appendChild(depmtNameCell);
        }

        const remarkCell = document.createElement("td");
        const processButton = document.createElement("button");
        processButton.className = "btn btn-outline-primary";
        processButton.textContent = "처리하기";

        processButton.addEventListener("click", () => process(list.dect_no));

        remarkCell.appendChild(processButton);
        newRow.appendChild(remarkCell);
        tableBody.appendChild(newRow);
    });
}

function process(dect_no){
    const url = "/" + dect_no + "/process/";
    window.location.href = url;
}

function convertToLocalTime(utcDateString) {
    var date = new Date(utcDateString);
    var year = date.getUTCFullYear();
    var month = date.getUTCMonth() + 1;
    var day = date.getUTCDate();
    var hours = date.getUTCHours();
    var minutes = date.getUTCMinutes();
    var period = hours >= 12 ? '오후' : '오전';

    hours = hours % 12;
    hours = hours ? hours : 12;
    
    var formattedDateTime = year + '년 ' + month + '월 ' + day + '일 ' + hours + ':' + ('0' + minutes).slice(-2) + ' ' + period;
    return formattedDateTime;
}

$(document).ready(function () {
    todayDectChart = todayDection();
    storageChart = storageUse();
    DBStorageChart = DBStorage();
    CPUUsageChart = CPUUse();
    networkTraffic();

    function updateData() {
        $.ajax({
            url: "{% url 'main:get_updated_data' %}",
            type: 'POST',
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            processData: false, 
            contentType: false,
            dataType: 'json',
            success: function(response) {
                document.getElementById('dect_count').textContent = response.dect_count + "건";
                document.getElementById('report_count').textContent = response.report_count + "건";
                document.getElementById('report_done_count').textContent = response.report_done_count + "건";

                document.getElementById('dect-table-caption').textContent = '미처리 탐지건수(' + response.dect_count + '건)';
                document.getElementById('report-table-caption').textContent = '사유서 미처리 탐지건수(' + response.report_count + '건)';

                const dect_tableBody = document.getElementById("dect-table-body");
                let target = "dection";
                replaceTable(response.dection_list, dect_tableBody, target);
            
                const report_tableBody = document.getElementById("report-table-body");
                target = "report";
                replaceTable(response.report_list, report_tableBody, target);

                todayDectChart.data.labels = response.data_labels;
                todayDectChart.data.datasets[0].data = response.data;            
                todayDectChart.update();

                useCPU = [response.useCPU, 100];
                CPUUsageChart.data.datasets[0].data = useCPU;
                CPUUsageChart.update();

                useDB = [response.useDB, 100];
                DBStorageChart.data.datasets[0].data = useDB;
                DBStorageChart.update();

                useDriver = [response.useDrive, 100];
                storageChart.data.datasets[0].data = useDriver;
                storageChart.update();
            },
            error : function(error) {
                console.error(error);
            }
        });
    }
    setInterval(updateData, 5000);
});
</script>

<div class="container2" style="display: flex; margin-left: 48px; margin-right: 48px;">
    <div class="row" style="display: flex;">
        <div class="row-4" style="font-weight: bold;">
            <div style="font-size: 20px; margin-top: 20px;margin-bottom: 20px ;">실시간 처리 현황</div>
            <div class="row-4">
                <div class="row">
                    <div class="col-4" style="text-align: left; font-size: 14px;">
                        <div class="item col-2 shadow p-3 mb-5 bg-body rounded w-100" style="
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  padding: 24px;
  gap: 40px;

  position: static;
  width: 100%;
  max-width: 284px;
  height: 148px;
  left: 48px;
  top: 188px;

  background: #FFFFFF;
  border-radius: 8px;
">
                            사유서 처리 대기
                            <div id="report_count" style="text-align: right; font-size: 32px; color: #FCD34D;">
                                {{report_count}}건</div>
                        </div>
                    </div>

                    <div class="col-4" style="text-align: left; font-size: 14px;">
                        <div class="item col-2 shadow p-3 mb-5 bg-body rounded w-100" style="
  display: flex;
  flex-direction: column;   
  justify-content: center;
  align-items: right;
  padding: 24px;
  gap: 40px;

  position: static;
  width: 100%;
  max-width: 284px;
  height: 148px;
  left: 48px;
  top: 188px;

  background: #FFFFFF;
  border-radius: 8px;
">
                            처리 완료
                            <div id="report_done_count" style="text-align: right; font-size: 32px; color: #DC2626;">
                                {{report_done_count}}건</div>
                        </div>
                    </div>

                    <div class="col-4" style="text-align: left; font-size: 14px;">
                        <div class="item col-2 shadow p-3 mb-5 bg-body rounded w-100" style="
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  padding: 24px;
  gap: 40px;

  position: static;
  width: 100%;
  max-width: 284px;
  height: 148px;
  left: 48px;
  top: 188px;

  background: #FFFFFF;
  border-radius: 8px;
">
                            미처리
                            <div id="dect_count" style="text-align: right; font-size: 32px; color: #404040;">
                                {{dect_count}}건
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row-6">
                <canvas id="today_dection"></canvas>
            </div>
            
            <div class="container2">
                <div style="display: flex; flex-direction: row; justify-content: flex-start; width: 150px;">
                    <canvas class="row-4" id="storage" ></canvas>
                    <canvas class="row-4" id="DB_storage"></canvas>
                    <canvas class="row-4" id="CPU_usage"></canvas>
                    <canvas class="row-4" id="network_traffic"> </canvas>
                </div>
            </div>

        </div>

        
        <div class="container2">
                <div style="display: flex; flex-direction: row; justify-content: flex-start; width: 150px;">
                    <canvas class="row-4" id="storage" ></canvas>
                    <canvas class="row-4" id="DB_storage"></canvas>
                    <canvas class="row-4" id="CPU_usage"></canvas>
                    <canvas class="row-4" id="network_traffic"> </canvas>
                </div>
        </div>
    </div>

    <div class="container-table" style="-ms-overflow-style: none; -webkit-scrollbardisplay: none; margin-left: 5%; margin-top: 1%;" >
        <div class="row-6"
            style="display: flex; overflow-y: scroll; width: 750px; height: 350px; overflow-y:auto; overflow-x:hidden">
            <table class="table table-hover  caption-top mse-5 text-center">
                <caption id="dect-table-caption" style="font-size: 18px;">미처리 탐지건수({{dect_count}}건)</caption>
                <thead style="background-color: #3B82F6; color: #ffffff; font-size: 14px;">
                    <tr>
                        <th>번호</th>
                        <th>날짜</th>
                        <th>IP</th>
                        <th>이름</th>
                        <th>부서</th>
                        <th>비고</th>
                    </tr>
                </thead>
                <tbody id="dect-table-body">
                    {% for dection in dection_list %}
                    <tr>
                        <td>{{dection.dect_no}}</td>
                        <td>{{dection.create_at}}</td>
                        <td>{{dection.ip}}</td>
                        <td>{{dection.emp_no__emp_name}}</td>
                        <td>{{dection.emp_no__depmt_no__depmt_name}}</td>
                        <td><button class="btn btn-outline-primary" onclick="process({{dection.dect_no}});"> 처리하기
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
  
    <div class="container-table">
        <div class="row-4"
            style="display: flex; overflow-y: scroll; width: 750px; height:350px; overflow-y:auto; overflow-x:hidden">
            <table class="table table-hover  caption-top mse-5 text-center">
                <caption id="report-table-caption" style="font-size: 18px;">사유서 미처리 탐지건수({{report_count}}건)</caption>
                <thead style="background-color: #3B82F6; color: #ffffff; font-size: 14px;">
                    <tr>
                        <th>번호</th>
                        <th>날짜</th>
                        <th>IP</th>
                        <th>이름</th>
                        <th>부서</th>
                        <th>비고</th>
                    </tr>
                    </thread>

                <tbody id="report-table-body">
                    {% for report in report_list %}
                    <tr>
                        <td>{{report.dect_no}}</td>
                        <td>{{report.create_at}}</td>
                        <td>{{report.ip}}</td>
                        <td>{{report.dect_no__emp_no__emp_name}}</td>
                        <td>{{report.dect_no__emp_no__depmt_no__depmt_name}}</td>
                        <td><button class="btn btn-outline-primary" onclick="process({{report.dect_no}});">처리하기</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

</div>
{% endblock content %}