{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'app/assets/css/home.css' %}">
<script>
function todayDection(){
    const data = {{ datasets | safe }};
    const labels = {{ dataLabels | safe }};

    const todayDection = document.getElementById('todayDection').getContext('2d');
    const todayDectChart = new Chart(todayDection, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: '탐지수',
                fill: false,
                data: data,
                backgroundColor: [
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                    'rgba(59, 130, 246, 1)',
                ],
                // borderColor: ['rgba(255, 99, 132, 1)'],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,
                            steps: 10,
                            stepValue: 1,
                            max: 100
                        }
                    }]
            },
            elements: {
                point: {
                    radius: 0,
                }
            },
            plugins: {
                title: {
                    display: false,
                    text: '금일탐지건수',
                    align: 'left',
                }
            },
            legend: {
                display: false
            }
        }
    });
    return todayDectChart;
}

function storageUse(){
    const storage = document.getElementById("storage");
    const useStorage = {{ useDrive | safe }}
    const storageChart = new Chart(storage, {
        type: 'doughnut',
        data: {
            labels: ["Storage amount used", 'Remaining'],
            datasets: [{
                label: '# of Votes',
                data: [useStorage, 100 - useStorage],
                backgroundColor: [
                    'rgba(59, 130, 246, 1)'
                ],
                borderWidth: 8 // Increase the border width
            }]
        },
        options: {
            title: { 
                display: true,
                text: '스토리지 사용량',
                fontSize: 16,
            },
            rotation: 1 * Math.PI,
            circumference: 1 * Math.PI,
            legend: {
                display: false
            },
            tooltip: {
                enabled: false
            },
            cutoutPercentage: 80, // Increase the cutout percentage
            plugins: {
            }
        }
    });

    return storageChart;
}

function DBStorage(){
    const DBStorage = document.getElementById("DB_storage");
    const useDB = {{useDB | safe}}

    const DBStorageChart = new Chart(DBStorage, {
        type: 'doughnut',
        data: {
            labels: ["DB amount used", "Remaining"],
            datasets: [{
                label: '# of Votes',
                data: [useDB, 100 - useDB],
                backgroundColor: [
                    'rgba(59, 130, 246, 1)'
                ],
                borderWidth: 8 // Increase the border width
            }]
        },
        options: {
            title: { 
                display: true,
                text: 'DB 사용량',
                fontSize: 16,
            },
            rotation: 1 * Math.PI,
            circumference: 1 * Math.PI,
            legend: {
                display: false
            },
            tooltip: {
                enabled: false
            },
            cutoutPercentage: 80 // Increase the cutout percentage
        }
    });
    return DBStorageChart;
}

function CPUUse(){
    const CPUUsage = document.getElementById("CPU_usage");
    const useCPU = {{useCPU | safe}}
    const CPUUsageChart = new Chart(CPUUsage, {
        type: 'doughnut',
        data: {
            labels: ["CPU amount used", "Remaining"],
            datasets: [{
            label: '# of Votes',
                data: [useCPU, 100 - useCPU],
                backgroundColor: [
                    'rgba(59, 130, 246, 1)'
                ],
                borderWidth: 8 // Increase the border width
            }]
        },
        options: {
            title: { 
                display: true,
                text: 'CPU 사용량',
                fontSize: 16,
            },
            rotation: 1 * Math.PI,
            circumference: 1 * Math.PI,
            legend: {
                display: false
            },
            tooltip: {
                enabled: false
            },
            cutoutPercentage: 80 // Increase the cutout percentage
        }
    });

    return CPUUsageChart;
}

function networkTraffic(){

    const bytesReceived = {{ bytesReceived | safe }};  

    const networkTraffic = document.getElementById("network_traffic");
    const networkTrafficChart = new Chart(networkTraffic, {
        type: 'doughnut',
        data: {
            labels: ['Received', 'Remaining'],
            datasets: [{
                label: '# of Votes',
                data: [bytesReceived, 100 - bytesReceived],
                backgroundColor: [
                    'rgba(59, 130, 246, 1)'
                ],
                borderWidth: 8
            }]
        },
        options: {
            title: { 
                display: true,
                text: '네트워크 트래픽',
                fontSize: 16,
            },
            rotation: 1 * Math.PI,
            circumference: 1 * Math.PI,
            legend: {
                display: false
            },
            tooltip: {
                enabled: false
            },
            cutoutPercentage: 80 // Increase the cutout percentage
        }
    });

    return networkTrafficChart;
}

function replaceTable(lists, tableBody, target){

    tableBody.innerHTML = "";
    lists.forEach((list) => {
        const newRow = document.createElement("tr");

        const dectNoCell = document.createElement("td");
        dectNoCell.textContent = list.dect_no;
        newRow.appendChild(dectNoCell);

        const createAtCell = document.createElement("td");
        createAtCell.textContent = convertToLocalTime(list.create_at);
        newRow.appendChild(createAtCell);

        const ipCell = document.createElement("td");
        ipCell.textContent = list.ip;
        newRow.appendChild(ipCell);
        if (target === "report"){
            const empNameCell = document.createElement("td");
            empNameCell.textContent = list.dect_no__emp_no__emp_name;
            newRow.appendChild(empNameCell);

            const depmtNameCell = document.createElement("td");
            depmtNameCell.textContent = list.dect_no__emp_no__depmt_no__depmt_name;
            newRow.appendChild(depmtNameCell);
        }else{
            const empNameCell = document.createElement("td");
            empNameCell.textContent = list.emp_no__emp_name;
            newRow.appendChild(empNameCell);

            const depmtNameCell = document.createElement("td");
            depmtNameCell.textContent = list.emp_no__depmt_no__depmt_name;
            newRow.appendChild(depmtNameCell);
        }

        const remarkCell = document.createElement("td");
        const processButton = document.createElement("button");
        processButton.className = "btn btn-outline-primary";
        processButton.textContent = "처리하기";

        processButton.addEventListener("click", () => process(list.dect_no));

        remarkCell.appendChild(processButton);
        newRow.appendChild(remarkCell);
        tableBody.appendChild(newRow);
    });
}



function process(dect_no){
    const url = "/" + dect_no + "/process/";
    window.location.href = url;
}

function convertToLocalTime(utcDateString) {
    var date = new Date(utcDateString);

    var year = date.getUTCFullYear();
    var month = date.getUTCMonth() + 1;
    var day = date.getUTCDate();
    var hours = date.getUTCHours();
    var minutes = date.getUTCMinutes();

    var period = hours >= 12 ? '오후' : '오전';
    hours = hours % 12;
    hours = hours ? hours : 12;
    
    var formattedDateTime = year + '년 ' + month + '월 ' + day + '일 ' + hours + ':' + ('0' + minutes).slice(-2) + ' ' + period;
    return formattedDateTime;
}

$(document).ready(function () {
    todayDectChart = todayDection();
    storageChart = storageUse();
    DBStorageChart = DBStorage();
    CPUUsageChart = CPUUse();
    networkTrafficChart = networkTraffic();

    function updateData() {
        $.ajax({
            url: "{% url 'main:get_updated_data' %}",
            type: 'POST',
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            processData: false, 
            contentType: false,
            dataType: 'json',
            success: function(response) {
                const dectionCount = response.dectionCount;
                const reportCount = response.reportCount;
                const reportDoneCount = response.reportDoneCount;
                const dectionList = response.dectionList;
                const reportList = response.reportList;
                const dataLabels = response.dataLabels;
                const datasets = response.datasets;

                document.getElementById('dectCount').textContent = dectionCount + "건";
                document.getElementById('reportCount').textContent = reportCount + "건";
                document.getElementById('reportDoneCount').textContent = reportDoneCount + "건";

                document.getElementById('dectTableCaption').textContent = '미처리 탐지건수(' + dectionCount + '건)';
                document.getElementById('reportTableCaption').textContent = '사유서 미처리 탐지건수(' + reportCount + '건)';


                const dectTableBody = document.getElementById("dectTableBody");
                let target = "dection";
                replaceTable(dectionList, dectTableBody, target);
            
                const reportTableBody = document.getElementById("reportTableBody");
                target = "report";
                replaceTable(reportList, reportTableBody, target);

                console.log(todayDectChart.data.labels)
                todayDectChart.data.labels = dataLabels;
                todayDectChart.data.datasets[0].data = datasets;            
                todayDectChart.update();
                
                useCPU = response.useCPU
                useCPUList = [useCPU, 100 - useCPU]
                CPUUsageChart.data.datasets[0].data = useCPUList;
                CPUUsageChart.update();

                useDB = response.useDB;
                useDBList = [useDB, 100 - useDB];
                DBStorageChart.data.datasets[0].data = useDBList;
                DBStorageChart.update();
                
                useDrive = response.useDrive;
                useDriveList = [useDrive, 100 - useDrive];
                storageChart.data.datasets[0].data = useDriveList;
                storageChart.update();

                bytesReceived = response.bytesReceived;
                percentReceived = [bytesReceived, 100 - bytesReceived];
                networkTrafficChart.data.datasets[0].data = percentReceived;
                networkTrafficChart.update();
            },
            error : function(error) {
                console.error(error);
            }
        });
    }
    setInterval(updateData, 5000);
});



</script>


<div class="main_container">
    <div class="left_side">
        <div class="realtime">
            <div class="title">실시간 처리 현황</div>
            <div class="row-4">
                <div class="row">
                    <div class="col-4" style="text-align: left; font-size: 14px;">
                        <div class="item col-2 shadow p-3 mb-5 bg-body rounded w-100">
                            사유서 처리 대기
                            <div id="reportCount" style="text-align: right; font-size: 32px; color: #FCD34D;">
                                {{reportCount}}건</div>
                        </div>
                    </div>

                    <div class="col-4" style="text-align: left; font-size: 14px;">
                        <div class="item col-2 shadow p-3 mb-5 bg-body rounded w-100" style="
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: right;
    padding: 24px;
    gap: 40px;

    position: static;
    width: 100%;
    max-width: 284px;
    height: 148px;
    left: 48px;
    top: 188px;

    background: #FFFFFF;
    border-radius: 8px;
">
                            처리 완료
                            <div id="reportDoneCount" style="text-align: right; font-size: 32px; color: #DC2626;">
                                {{reportDoneCount}}건</div>
                        </div>
                    </div>

                    <div class="col-4" style="text-align: left; font-size: 14px;">
                        <div class="item col-2 shadow p-3 mb-5 bg-body rounded w-100">
                            미처리
                            <div style="text-align: right; font-size: 32px; color: #404040;">
                                <span id="dectCount">{{ dectionCount }}건</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="today_detection">
            <div id="today_detection_title"  class="title">월별 탐지건수</div>
            <div id="today_detection_container">
                <div id="today_detection_legend">탐지건수
                    <div></div>
                </div>
                <canvas id="todayDection"></canvas>
            </div>                
        </div>

        <div class="usage">
            <div class="usage_wrapper">
                <canvas class="row-4" id="storage" ></canvas>
                <canvas class="row-4" id="DB_storage"></canvas>
                <canvas class="row-4" id="CPU_usage"></canvas>
                <canvas class="row-4" id="network_traffic"> </canvas>
            </div>
        </div>

<!--         
        <div class="container2">
                <div style="display: flex; flex-direction: row; justify-content: flex-start; width: 150px;">
                    <canvas class="row-4" id="storage" ></canvas>
                    <canvas class="row-4" id="DB_storage"></canvas>
                    <canvas class="row-4" id="CPU_usage"></canvas>
                    <canvas class="row-4" id="network_traffic"> </canvas>
                </div>
        </div> -->


    </div>


    <div class="right_side">
        <div class="table-wrapper">
            <div class="table-title title">
                <caption style="font-size: 18px;">
                    <span id="dectTableCaption">미처리 탐지건수({{dectionCount}}건)</span>
                </caption>
            </div>

            <table class="table table-hover caption-top mse-5 text-center overflow-y-auto">
                <thead style="background-color: #3B82F6; color: #ffffff; font-size: 14px;">
                    <tr>
                        <th>번호</th>
                        <th>날짜</th>
                        <th>IP</th>
                        <th>이름</th>
                        <th>부서</th>
                        <th>비고</th>
                    </tr>
                </thead>
                <tbody id="dectTableBody">
                    {% for dection in dectionList %}
                    <tr>
                        <td>{{dection.dect_no}}</td>
                        <td>{{dection.create_at}}</td>
                        <td>{{dection.ip}}</td>
                        <td>{{dection.emp_no__emp_name}}</td>
                        <td>{{dection.emp_no__depmt_no__depmt_name}}</td>
                        <td><button class="btn btn-outline-primary" onclick="process({{dection.dect_no}});"> 처리하기
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="table-wrapper">
            <div class="table-title title">
                <caption style="font-size: 18px;">
                    <span id="reportTableCaption">사유서 미처리 탐지건수({{reportCount}}건)</span>
                </caption>
            </div>
            <table class="table table-hover  caption-top mse-5 text-center">
                <thead style="background-color: #3B82F6; color: #ffffff; font-size: 14px;">
                    <tr>
                        <th>번호</th>
                        <th>날짜</th>
                        <th>IP</th>
                        <th>이름</th>
                        <th>부서</th>
                        <th>비고</th>
                    </tr>
                    </thread>
                <tbody id="reportTableBody">
                    {% for report in reportList %}
                    <tr>
                        <td>{{report.dect_no}}</td>
                        <td>{{report.create_at}}</td>
                        <td>{{report.ip}}</td>
                        <td>{{report.dect_no__emp_no__emp_name}}</td>
                        <td>{{report.dect_no__emp_no__depmt_no__depmt_name}}</td>
                        <td><button class="btn btn-outline-primary" onclick="process({{report.dect_no}});">처리하기</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

</div>
{% endblock content %}