{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        
        <div class="col-md-6">
            <div class="position-relative text-center" style="margin-top: 15%;">
                캠사진 이미지
                <img src="/static/app/assets/images/tree.jpg" class="img-thumbnail" alt="캠사진 이미지">
            </div>
        </div>
        <div class="col-md-6">
            <div class="position-relative text-center" style="margin-top: 15%;">
                바탕화면 이미지
                <img src="/static/app/assets/images/tree.jpg" class="img-thumbnail" alt="바탕화면 이미지">
            </div>
        </div>
    </div>
    <!-- <div class="container"> -->
    <div class="row">
        <div class="col-md-2">
            <div class="position-relative text-center" style="margin-top: 15%;">
                직원정보
                <img src="/static/app/assets/images/emp.jpg" class="img-thumbnail" alt="사원 이미지">
                <table class="table">
                    <tbody>
                        <tr>
                        <th scope="row">이름</th>
                        <td>허우영</td>
                        </tr>
                        <tr>
                        <th scope="row">직급</th>
                        <td>인턴</td>
                        </tr>
                        <tr>
                        <th scope="row">부서</th>
                        <td colspan="2">AI</td>
                        </tr>
                    </tbody>
                    </table>
            </div>
        </div>

          <div class="col-md-6" style="margin-top: auto; height: max-content;">
              <table class="table">
                <tbody>
                    <tr>
                    <th scope="row">MAC</th>
                    <td>AB:CD:EF:15:BE</td>
                    </tr>
                    <tr>
                    <th scope="row">날짜</th>
                    <td>2023-06-20-10:22</td>
                    </tr>
                    <tr>
                    <th scope="row">부서위치</th>
                    <td colspan="2">4층 411호</td>
                    </tr>
                    <tr>
                    <th scope="row">이메일</th>
                    <td colspan="2">aro_jr@naver.com</td>
                    </tr>
                    <tr>
                    <th scope="row">전화번호</th>
                    <td colspan="2">01038928514</td>
                    </tr>
                    <tr>
                    <th scope="row">사내유선번호</th>
                    <td colspan="2">887</td>
                    </tr>

                </tbody>
                </table>
            </div>
    <div>
        <table class="table">
            <thead>
              <tr>
                <th>제출날짜</th>
                <th>내용</th>
                <th>상태</th>
              </tr>
            </thead>
            <tbody>
              <tr>

                <td>2023-06-05_10:30</td>
                <td>죄송합니다 점심시간에 실수로,,</td>
                <td>대기중</td>
              </tr>
              <tr>

                <td>2023-06-05_10:30</td>
                <td>죄송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,</td>
                <td>대기중</td>
              </tr>
              <tr>
                <td>2023-06-05_10:30</td>
                <td>죄송합니다 점심시간에 실수로송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,송합니다 점심시간에 실수로,,,,</td>
                <td>대기중</td>
              </tr>
            </tbody>
          </table>
    </div>


</div>

{% endblock content %}