body {
  background-color: #F3F4F6;
}

body>.navbar {
  background-color: white;
}
.left_side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  gap:24px;
  margin-top: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  padding: 24px;
  gap: 40px;
  margin-bottom: 0 !important;

  position: static;
  width: 100%;
  max-width: 284px;
  height: 148px;
  left: 48px;
  top: 188px;

  background: #FFFFFF;
  border-radius: 8px !important;
  box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.03) !important;

}

.usage {
  display: flex;
  background-color: white;
  border-radius: 8px;
}


.usage canvas {
  display: flex;
}

.usage_wrapper {
  display: flex; 
  flex-direction: row; 
  justify-content: space-around; 
  gap: 20px;
  width: 180px;
  transform: translate(330px, 10px);
}

table {
  background-color: white;
}

#today_detection_container {
  background-color: white;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
 
}

#today_detection_legend {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 18px 24px 0 0;
  color: #404040;
  gap: 12px;
  align-items: center;
}

#today_detection_legend>div {
  content: "";
  width: 60px;
  height: 20px;
  background-color: #3B82F6;
  border-radius: 4px;
}

#today_dection {
  margin: auto;
  
  width: 800px !important;
  height: 310px !important;
}

#today_detection_title {
  font-size: 20px;
  font-weight: 700;
}

.row-6 {
  margin-bottom: 64px;
}

.container-table {
  margin: 0 !important
}

.main_container {
  display: flex;
  margin: 0 48px;
  gap: 48px;
  height: calc(96vh - 80px);
}

.main_container>div {
  width: 100%;
}


.right_side {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.right_side table {
  flex: 1 1;
  margin-bottom: 0 !important;
}

.table-wrapper {
  overflow: hidden;
  height: 50%;
  border-radius: 8px;
  overflow: hidden;
}

table {
  height: 100% !important;
  display: block;
  overflow-y: auto !important;
  border-radius: 8px;
  overflow: hidden;
}

#dect-table-body {  
  display: block;
  overflow-y: scroll;
  height: 84% !important;
}


table th:nth-of-type(1), table td:nth-of-type(1) { width: 100px !important; }
table th:nth-of-type(2), table td:nth-of-type(2) { width: 300px !important; }
table th:nth-of-type(3), table td:nth-of-type(3) { width: 160px !important; }
table th:nth-of-type(4), table td:nth-of-type(4) { width: 120px !important; }
table th:nth-of-type(5), table td:nth-of-type(5) { width: 120px !important; }
table th:nth-of-type(6), table td:nth-of-type(6) { width: 160px !important; }


.table-title {
  font-size: 20px;
  font-weight: 700;
}

.title {

  margin: 12px 0 ;
}