.body{
    padding:0;
    margin:0;
}
.navbar {
    display: flex;
    text-decoration-line: none;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    background-color: #6D73FF; 
    padding: 50px 40px;
}

.container {
    width: 100%;
    height: 502px;
    overflow-y: auto;
    overflow-x: hidden;
}

.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;

}


body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0,);
    margin: 20px;
  }
  
  .dashboard-container {
    display: grid;
    grid-gap: 20px;
    color: rgb(255, 113, 113);
  }


 
  .dashboard2-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
  }
  
  .dashboard-container {
    display: grid;
    place-items: center; 
    color: rgb(0, 0, 0);
    height: 100vh; 
  }
  
  
  .dashboard {
    width: 90%;
    max-width: 700px;
    height: 350px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
  }
  
  .dashboard2 {
    width: 90%;
    max-width: 700px; 
    height: 350px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 50px;
    margin-top: 80px;
    position: relative;
  }
  