spring:
  application:
    name: company
  devtools:
    livereload:
      enabled=true:
  h2:
    console:
      enabled: true
      path: /h2-console
  config:
    import:
      - classpath:/app/jwt/application-jwt.yml

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:~/test
    username: sa
    password: 1234






