{% extends 'base.html' %}

{% block content %}


<style>

    .input-form {
      max-width: 680px;

      margin-top: 80px;
      padding: 32px;

      background: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="input-form-backgroud row">
      <div class="input-form col-md-12 mx-auto">
        <h3 class="mb-3"><strong>직원 등록</strong></h3>
        <form class="validation-form" novalidate>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="name">이름</label>
              <input type="text" class="form-control" id="name" placeholder="이름을 입력해주세요." value="" required>
              <div class="invalid-feedback">
                이름을 입력해주세요.
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="rank">직급</label>
              <input type="text" class="form-control" id="rank" placeholder="직급을 입력해주세요." value="" required>
              <div class="invalid-feedback">
                직급을 입력해주세요.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="class">부서</label>
            <input type="text" class="form-control" id="class" placeholder="부서를 입력해주세요." required>
            <div class="invalid-feedback">
              부서를 입력해주세요.
            </div>
          </div>

          <div class="mb-3">
            <label for="employee_num">사원번호</label>
            <input type="text" class="form-control" id="employee_num" placeholder="사원번호를 입력해주세요." required>
            <div class="invalid-feedback">
              사원번호를 입력해주세요.
            </div>
          </div>

          <div class="mb-3">
            <label for="MAC">MAC</label>
            <input type="MAC" class="form-control" id="MAC" placeholder="MAC Address를 입력해주세요." required>
            <div class="invalid-feedback">
              MAC Address를 입력해주세요.
            </div>
          </div>
          
          <div class="mb-3">
            <label for="IP">IP</label>
            <input type="text" class="form-control" id="IP" placeholder="IP정보를 입력해주세요." required>
            <div class="invalid-feedback">
              IP정보를 입력해주세요.
            </div>
          </div>
          
                    <div class="mb-3">
                      <label for="phone">휴대폰번호</label>
                      <input type="phone" class="form-control" id="phone" placeholder="휴대폰번호를 입력해주세요." required>
                      <div class="invalid-feedback">
                        휴대폰번호를 입력해주세요
                      </div>
                    </div>


          <div class="mb-3">
            <label for="tel">유선번호</label>
            <input type="tel" class="form-control" id="tel" placeholder="유선번호를 입력해주세요." required>
            <div class="invalid-feedback">
              유선번호를 입력해주세요
            </div>
          </div>

          <div class="mb-3">
            <label for="email">이메일</label>
            <input type="email" class="form-control" id="email" placeholder="이메일을 입력해주세요." required>
            <div class="invalid-feedback">
              이메일을 입력해주세요
            </div>
          </div>

          <div class="mb-3">
            <label for="class_position">부서위치</label>
            <input type="class_position" class="form-control" id="class_position" placeholder="부서위치를 입력해주세요." required>
            <div class="invalid-feedback">
              부서위치를 입력해주세요
            </div>
          </div>

<div>
  직원 이미지 업로드
   <div class="input-group">
     <input type="file" class="form-control" id="inputGroupFile02">
      <label class="input-group-text" for="inputGroupFile02">업로드</label>
    </div>
  </div>
  <div>
    csv파일 업로드
    <div class="input-group">
      <input type="file" class="form-control" id="inputGroupFile03">
      <label class="input-group-text" for="inputGroupFile02">업로드</label>
    </div>
  </div>
  <div class="mb-4"></div>
  <button type="button" class="btn btn-outline-primary" type="submit" style="center">등록</button>
  </div>
</div>

        
            
        {% comment %} <div class="row">
            <div class="col-md-8 mb-3">
              <label for="root">부서 선택</label>
              <select class="custom-select d-block w-100" id="root">
                <option value=""></option>
                <option>1번부서</option>
                <option>2번부서</option>
              </select>

            </div> {% endcomment %}

          </div>

        </form>
      </div>
    </div>

  </div>

</body>









{% endblock content %}