{% extends 'base.html' %}

{% block content %}

<div class="col"> 
    <div class="row">
        <div class="col-md-12">
            <div class="chart-container" style="height: 800px; width: 800px; margin: 0 auto; margin-top: 3%;">
                <canvas id="detect"></canvas>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var context = document.getElementById('detect').getContext('2d');
        var myChart = new Chart(context, {
            type: 'bar',
            data: {
                labels: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
                datasets: [{
                    label: '월별 탐지 건수',
                    fill: false,
                    data: [10, 15, 13, 21, 17, 4],
                    backgroundColor: [
                        'rgba(197, 99, 132, 1)',
                        'rgba(187, 56, 138, 1)',
                        'rgba(167, 56, 138, 1)',
                        'rgba(157, 56, 138, 1)',
                        'rgba(107, 56, 138, 1)',
                        'rgba(137, 56, 138, 1)',
                        'rgba(147, 56, 138, 1)',
                        'rgba(167, 56, 138, 1)',
                        'rgba(177, 56, 138, 1)',
                        'rgba(187, 56, 138, 1)',
                        'rgba(197, 56, 138, 1)',
                        'rgba(207, 56, 138, 1)',
                    ],
                    borderColor: ['rgba(255, 99, 132, 1)'],
                    borderWidth: 1
                }]
            },
            options: {
                title:{
                    display: true,
                    text: '월별 탐지 건수',
                    fontSize: 16
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
</div>


<div class="col">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-container" style="position: relative; height: 400px; width: 400px; margin: 0 auto; margin-bottom: 5%">
                <canvas id="os_chart"></canvas>
                <canvas id="test_chart"></canvas>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var context = document.getElementById('os_chart').getContext('2d');
        var storeData = 30;
        var myChart = new Chart(context, {
            type: 'doughnut',
            data: {
                labels: ['사용량'],
                datasets: [{
                    label: '스토리지 사용량',
                    fill: false,
                    data: [storeData, 100],
                    backgroundColor: [
                        'rgba(197, 99, 132, 1)',
                    ],
                    borderColor: ['rgba(255, 99, 132, 1)'],
                    borderWidth: 1
                }]
            },
            options: {

                title: { 
                    display: true,
                    text: '스토리지 사용량',
                    fontSize: 16,

                    
                },
                elements: {
                    point:{
                        radius: 0,
                    }
                }
            }
        });

        var context = document.getElementById('test_chart').getContext('2d');
        var storeData = 30;
        var myChart = new Chart(context, {
            type: 'doughnut',
            data: {
                labels: ['사용량'],
                datasets: [{
                    label: '스토리지 사용량',
                    fill: false,
                    data: [storeData, 100],
                    backgroundColor: [
                        'rgba(17, 0, 158, 1)',
                    ],
                    borderColor: ['rgba(255, 99, 132, 1)'],
                    borderWidth: 0
                }]
            },
            options: {
                title: { 
                    display: true,
                    text: '스토리지 사용량',
                    fontSize: 16
                    
                },
                elements: {
                    point:{
                        radius: 0,
                    }
                }
            }
        });

        Chart.pluginService.register({
            beforeDraw: function(chart) {
                var width = chart.chart.width,
                    height = chart.chart.height,
                    ctx = chart.chart.ctx;
                ctx.restore();
                var fontSize = (height / 114).toFixed(2);
                ctx.font = fontSize + "em sans-serif";
                ctx.textBaseline = "middle";
                var text = storeData / 100 * 100 + "%",
                    textX = Math.round((width - ctx.measureText(text).width) / 2),
                    textY = height / 2;
                ctx.fillText(text, textX, textY);
                ctx.save();
            }
          });
          
    </script>
</div>



{% endblock content %}