{% extends 'base.html' %}
{% block content %}
<script>
$(document).ready(function() {
var context = document.getElementById('today_dection').getContext('2d');
var myChart = new Chart(context, {
    type: 'bar',
    data: {
        labels: ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23'],
        datasets: [{
            label: '탐지수',
            fill: false,
            data: [0,0,0,0,0,0,0,0,5,10,13,3,4,10,16,20,30,47,10,8,7,5,200],
            backgroundColor: [
                'rgba(59, 130, 246, 1)',
                'rgba(59, 130, 246, 1)',
                'rgba(59, 130, 246, 1)',
                'rgba(59, 130, 246, 1)',
                'rgba(59, 130, 246, 1)',
                'rgba(59, 130, 246, 1)',
                'rgba(59, 130, 246, 1)',
                'rgba(59, 130, 246, 1)',
                'rgba(59, 130, 246, 1)',
                'rgba(59, 130, 246, 1)',
                'rgba(59, 130, 246, 1)',
                'rgba(59, 130, 246, 1)',
                'rgba(59, 130, 246, 1)',
                'rgba(59, 130, 246, 1)',
                'rgba(59, 130, 246, 1)',
                'rgba(59, 130, 246, 1)',
                'rgba(59, 130, 246, 1)',
                'rgba(59, 130, 246, 1)',
                'rgba(59, 130, 246, 1)',
                'rgba(59, 130, 246, 1)',
                'rgba(59, 130, 246, 1)',
                'rgba(59, 130, 246, 1)',
                'rgba(59, 130, 246, 1)',

                
            ],
            // borderColor: ['rgba(255, 99, 132, 1)'],
            borderWidth: 1
        }]
    },
    options: {
        title: { 
            display: true,
            text: '금일탐지건수',
            fontSize: 18,
            align: 'left',
        },
        elements: {
            point: {
                radius: 0,
            }
        },
        plugins: {
            title: {
                display: true,
                text: '금일탐지건수'
            }
        }
        
    }
    
});


var context = document.getElementById('storage').getContext('2d');
var myChart = new Chart(context, {
    type: 'doughnut',
    data: {
        labels: ['100'],
        datasets: [{
            label: '스토리지 가용량',
            fill: false,
            data: [50],
            backgroundColor: [

            ],
            // borderColor: ['rgba(255, 99, 132, 1)'],
            borderWidth: 1
        }]
    },
    options: {
        
        rotation: -90,
        circumference: 180,
        title: { 
            display: true,
            text: '스토리지 가용량',
            fontSize: 18,
            align: 'left',
        },
        elements: {
            point: {
                radius: 0,
            }
        },
        plugins: {
            title: {
                display: true,
                text: '금일탐지건수'
            }
        }
    }
});

var context = document.getElementById('DB_storage').getContext('2d');
var myChart = new Chart(context, {
    type: 'doughnut',
    data: {
        labels: ['100'],
        datasets: [{
            label: '스토리지 가용량',
            fill: false,
            data: [50],
            backgroundColor: [

            ],
            // borderColor: ['rgba(255, 99, 132, 1)'],
            borderWidth: 1
        }]
    },
    options: {
        
        rotation: -90,
        circumference: 180,
        title: { 
            display: true,
            text: 'DB스토리지 가용량',
            fontSize: 18,
            align: 'left',
        },
        elements: {
            point: {
                radius: 0,
            }
        },
        plugins: {
            title: {
                display: true,
                text: 'DB스토리지 가용량'
            }
        }
    }
});

var context = document.getElementById('CPU_usage').getContext('2d');
var myChart = new Chart(context, {
    type: 'doughnut',
    data: {
        labels: ['100'],
        datasets: [{
            label: 'CPU 사용량',
            fill: false,
            data: [50],
            backgroundColor: [

            ],
            // borderColor: ['rgba(255, 99, 132, 1)'],
            borderWidth: 1
        }]
    },
    options: {
        
        rotation: -90,
        circumference: 180,
        title: { 
            display: true,
            text: 'CPU 사용량',
            fontSize: 18,
            align: 'left',
        },
        elements: {
            point: {
                radius: 0,
            }
        },
        plugins: {
            title: {
                display: true,
                text: 'CPU 사용량'
            }
        }
    }
});

var context = document.getElementById('network_traffic').getContext('2d');
var myChart = new Chart(context, {
    type: 'doughnut',
    data: {
        labels: ['100'],
        datasets: [{
            label: 'network_traffic',
            fill: false,
            data: [50],
            backgroundColor: [

            ],
            // borderColor: ['rgba(255, 99, 132, 1)'],
            borderWidth: 1
        }]
    },
    options: {
        
        rotation: -90,
        circumference: 180,
        title: { 
            display: true,
            text: 'network_traffic',
            fontSize: 18,
            align: 'left',
        },
        elements: {
            point: {
                radius: 0,
            }
        },
        plugins: {
            title: {
                display: true,
                text: 'network_traffic'
            }
        }
    }
});
function openDialog() {
    var dialog = document.getElementById('dialog');
    dialog.showModal();
}

function closeDialog() {
    var dialog = document.getElementById('dialog');
    dialog.close();
}

function updateData() {
    $.ajax({
        url: {% url 'main:get_updated_data' %},
        type: 'POST',
        headers: { "X-CSRFToken": '{{csrf_token}}' },
        processData: false, 
        contentType: false,
        dataType: 'json',
        success: function(response) {
            $('#dect_count').html(response.dect_count + "건");
            $('#report_count').html(response.report_count + "건");
            $('#report_done_count').html(response.report_done_count + "건");

            console.log(response);
        },
        error: function(xhr, status, error) {
            console.error(error);
        }
    });
}

setInterval(updateData, 10000);
});

</script>

<div class="container-fluid" style="margin-top: 50px; margin-left: 25px;">
        <div class="col-6">
            <div class="row">
                <div class="col-4" style="text-align: left; font-size: 14px;">
                    <div class="item col-2 shadow p-3 mb-5 bg-body rounded w-100">
                        사유서 처리 대기
                        <br>
                        <br>
                        <div id="report_count" style="text-align: right; font-size: 32px; color: #FCD34D;">{{report_count}}건</div>
                    </div>   
                </div>
                
                <div class="col-4" style="text-align: left; font-size: 14px;">
                    <div class="item col-2 shadow p-3 mb-5 bg-body rounded w-100">
                        처리 완료
                        <br>
                        <br>
                        <div id="report_done_count" style="text-align: right; font-size: 32px; color: #3B82F6;">{{report_done_count}}건</div>
                    </div>    
                </div>
        
                <div class="col-4" style="text-align: left; font-size: 14px;">
                    <div class="item col-2 shadow p-3 mb-5 bg-body rounded w-100">미처리
                        <br>
                        <br>
                        <div id="dect_count" style="text-align: right; font-size: 32px; color: #DC2626;">{{dect_count}}건</div>
                    </div> 
                </div>
                <div style="margin-top: 50px;">
                    <canvas id="today_dection"></canvas>
                </div>
                <div class="container-fluid">
                    <div class="col-6">
                        <div style="height: 150px; width: 150px; margin-top: 50px;">
                            <canvas id="storage"></canvas>
                            <canvas id="DB_storage"></canvas>
                        </div>
                    </div>
                </div>
                
                
                
   

    <div class="container col-12" >
                <div class="col-6">
                    <div class="row mt-1">
                            <div class="chart-container" style=" height: 150px; width: 150px; margin-top: 50px;">
                                <canvas id="CPU_usage"></canvas>
                            </div>
                    </div>
                </div>

                    <div class="col-6">
                        <div class="row mt-1">
                            <!-- <div class="container" > -->
                                <div class="chart-container" style=" height: 150px; width: 150px; margin-top: 50px;">
                                    <canvas id="network_traffic"></canvas>
                                </div>
                        </div>
                    </div>
    </div>
     

    <div class="row">
        <table class="table table-light table-hover  caption-top mse-5">
            <caption class="fs-4">미처리 탐지건수({{dect_count}})</caption>
            <tr>
                <th>번호</th>
                <th>날짜</th>
                <th>IP</th>
                <th>이름</th>
                <th>부서</th>
                <th>상태</th>
                <th>비고</th>
            </tr>
            {% for dection in dection_list %}
            <tr>
                <td>{{dection.dect_no}}</td>
                <td>{{dection.create_at}}</td>
                <td>{{dection.ip}}</td>
                <td>{{dection.emp_no__emp_name}}</td>
                <td>{{dection.emp_no__depmt_no__depmt_name}}</td>
                <td>미처리</td>
                <td><button class="btn btn-primary" onclick="openDialog()">처리하기</button></td>

                <dialog id="dialog">
                    <p>다이얼로그 내용</p>
                    <button class="btn btn-primary" onclick="closeDialog()">닫기</button>
                </dialog>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>


<div>
    <div class="fixed-table-container text-center" style="overflow-y: scroll; height: 250px; margin: 50px; margin-left: 10%;">
        <table class="table table-light table-hover  caption-top">
                <caption  style="font-size: 30px;">미처리 탐지건수({{report_count}})</caption>
            <tr>
                <th>번호</th>
                <th>날짜</th>
                <th>IP</th>
                <th>이름</th>
                <th>부서</th>
                <th>상태</th>
                <th>비고</th>
            </tr>

            {% for report in report_list %}
            <tr>
                <td>{{report.dect_no}}</td>
                <td>{{report.create_at}}</td>
                <td>{{report.ip}}</td>
                <td>{{report.dect_no__emp_no__emp_name}}</td>
                <td>{{report.dect_no__emp_no__depmt_no__depmt_name}}</td>
                <td>미처리</td>
                <td><button class="btn btn-primary">처리하기</button></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>



  
{% endblock content %}
