{% extends 'base.html' %}
{% block content %}
<script>
$(document).ready(function() {
var context = document.getElementById('os_chart').getContext('2d');
var myChart = new Chart(context, {
    type: 'line',
    data: {
        labels: ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23'],
        datasets: [{
            label: '탐지수',
            fill: false,
            data: [0,0,0,0,0,0,0,0,5,10,13,3,4,10,16,20,30,47,10,8,7,5,1],
            backgroundColor: [

            ],
            // borderColor: ['rgba(255, 99, 132, 1)'],
            borderWidth: 1
        }]
    },
    options: {
        title: { 
            display: true,
            text: '금일탐지건수',
            fontSize: 18,
            align: 'left',
        },
        elements: {
            point: {
                radius: 0,
            }
        },
        plugins: {
            title: {
                display: true,
                text: '금일탐지건수'
            }
        }
    },

    // var num = Math.random(); 
	// var data = { 
	// 	labels: [ 
	// 		"pink" 
	// 	], 
	// 	datasets: [ 
	// 		{ 
	// 			data: [num, 1-num], 
	// 			backgroundColor: [ 
	// 				"#FF6384"
 	// 			], 
	// 			hoverBackgroundColor: [ 
	// 				"#FF6384" 
	// 			] 
	// 		}] 
	// 	};

	// window.onload = function() { 
	// 	var ctx8 = $('#chart8').get(0).getContext("2d"); 
	// 	window.theChart8 = new Chart(ctx8, { 
	// 		type: 'doughnut', 
	// 		data: data, 
	// 		options: { 
	// 			responsive: true, 
	// 			legend: { 
	// 				display: false 
	// 			}, 
	// 			elements: { 
	// 				center: { 
	// 					text: Math.round(num*100), 
	// 					fontStyle: 'Helvetica', //Default Arial 
	// 					sidePadding: 15 //Default 20 (as a percentage) 
	// 				}
	// 			}, 
	// 			maintainAspectRatio : false, 
	// 			cutoutPercentage:70, 
	// 			animation:false, 
	// 			rotation: 1 * Math.PI, 
	// 			circumference: 1 * Math.PI 
	// 		} 
   
});

    
</script>

<div class="container-fluid">
    <div class="row" style="margin-top: 70px; margin-left: 70px;">
        <div class="col-6">
            <div class="row">
                <div class="col-4" style="text-align: left; font-size: 14px;">
                    <div class="item col-2" style="background-color: #ffffff; width: 200px; height:100px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);">
                        사유서 처리 대기
                        <br>
                        <br>
                        <div style="text-align: right; font-size: 32px; color: #FCD34D;">70건</div>
                    </div>   
                </div>
                
                <div class="col-4" style="text-align: left; font-size: 14px;">
                    <div class="item col-2" style="background-color: #ffffff; width: 200px; height:100px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);">
                        처리 완료
                        <br>
                        <br>
                        <div style="text-align: right; font-size: 32px; color: #3B82F6;">120건</div>
                    </div>    
                </div>
        
                <div class="col-4" style="text-align: left; font-size: 14px;">
                    <div class="item col-2" style="background-color: #ffffff; width: 200px; height:100px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);">미처리
                        <br>
                        <br>
                        <div style="text-align: right; font-size: 32px; color: #DC2626;">37건</div>
                    </div> 
                </div>
            </div>
        </div>


        <div class="col-6">
        
                    스토리지 사용량 DB사용량 CPU사용량 네트워크트래픽
        
        </div>


    <div class="row mt-6">
        <div class="container" style="margin-top: 50px;">
            <div class="chart-container" style=" height: 300px; width: 500px; margin-top: 50px;">
                <canvas id="os_chart"></canvas>
            </div>
        </div>
    </div>
</div>




<div>
    <div class="fixed-table-container text-center" style="overflow-y: scroll; height: 250px; margin: 50px; margin-left: 10%;">
        <table class="table table-light table-hover  caption-top">
                <caption style="font-size: 30px;">미처리 탐지건수</caption>
            <tr>
                <th><B>번호</B></th>
                <th><B>날짜</B></th>
                <th><B>IP</B></th>
                <th><B>이름</B></th>
                <th><B>부서</B></th>
                <th><B>상태</B></th>
                <th><B>비고</B></th>
            </tr>
            <tr>
                <td>1</td>
                <td>2023-06-05</td>
                <td>192.168.255.1</td>
                <td>송재원</td>
                <td>디자인</td>
                <td>미처리</td>
                <td><button class="btn btn-primary">처리하기</button></td>
            </tr>
        </table>
    </div>
</div>

<div>
    <div class="fixed-table-container text-center" style="overflow-y: scroll; height: 250px; margin: 50px; margin-left: 10%;">
        <table class="table table-light table-hover  caption-top">
                <caption style="font-size: 30px;">미처리 탐지건수</caption>
            <tr>
                <th><B>번호</B></th>
                <th><B>날짜</B></th>
                <th><B>IP</B></th>
                <th><B>이름</B></th>
                <th><B>부서</B></th>
                <th><B>상태</B></th>
                <th><B>비고</B></th>
            </tr>
            <tr>
                <td>1</td>
                <td>2023-06-05</td>
                <td>192.168.255.1</td>
                <td>송재원</td>
                <td>디자인</td>
                <td>미처리</td>
                <td><button class="btn btn-primary">처리하기</button></td>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}