{% extends 'base.html' %}

{% block content %}
<style>
    .input-group {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    
    .pagination-wrapper {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .table-container {
        margin-top: 30%; /* Adjust the margin as needed */
    }


    .table-caption {
        font-size: 30px;
    }
        
    .search-wrapper {
        margin-top: 10px;
    }
</style>

<div class="container">
    <div class="fixed-table-container text-center table-container">
        <div></div>
        <div class="fixed-table-body">
            <table class="table table-light table-hover caption-top">
                <caption class="table-caption">사유서 현황</caption>
                <thead>
                    <tr>
                        <th><B>번호</B></th>
                        <th><B>내용</B></th>
                        <th><B>IP</B></th>
                        <th><B>이름</B></th>
                        <th><B>상태</B></th>     
                    </tr>
                </thead>
                <tbody>
        
                <tr>
                    <td>12</td>
                    <td>점심시간에 sns사용으로 인한 오탐인것같습니다.</td>
                    <td>192.168.255.1</td>
                    <td>김효경</td>
                    <td>대기중</td>
                </tr>
                
                <tr>
                    <td>11</td>
                    <td>점심시간에 sns사용으로 인한 오탐인것같습니다.</td>
                    <td>192.168.255.1</td>
                    <td>송재원</td>
                    <td>대기중</td>
                </tr>

                <tr>
                    <td>10</td>
                    <td>점심시간에 sns사용으로 인한 오탐인것같습니다.</td>
                    <td>192.168.255.1</td>
                    <td>최소윤</td>
                    <td>대기중</td>
                </tr>

                <tr>
                    <td>9</td>
                    <td>점심시간에 sns사용으로 인한 오탐인것같습니다.</td>
                    <td>192.168.255.1</td>
                    <td>김현수</td>
                    <td>대기중</td>
                </tr>

                <tr>
                    <td>8</td>
                    <td>점심시간에 sns사용으로 인한 오탐인것같습니다.</td>
                    <td>192.168.255.1</td>
                    <td>허우영</td>
                    <td>대기중</td>
                </tr>

                <tr>
                    <td>7</td>
                    <td>오탐입니다</td>
                    <td>192.168.255.1</td>
                    <td>김현수</td>
                    <td>미처리</td>
                </tr>

                <tr>
                    <td>6</td>
                    <td>점심시간에 sns사용으로 인한 오탐인것같습니다.</td>
                    <td>192.168.255.1</td>
                    <td>최소윤</td>
                    <td>대기중</td>
                </tr>

                <tr>
                    <td>5</td>
                    <td>점심시간에 sns사용으로 인한 오탐인것같습니다.</td>
                    <td>192.168.255.1</td>
                    <td>김효경</td>
                    <td>대기중</td>
                </tr>

                <tr>
                    <td>4</td>
                    <td>점심시간에 sns사용으로 인한 오탐인것같습니다.</td>
                    <td>192.168.255.1</td>
                    <td>허우영</td>
                    <td>대기중</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>점심시간에 sns사용으로 인한 오탐인것같습니다.</td>
                    <td>192.168.255.1</td>
                    <td>송재원</td>
                    <td>대기중</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>점심시간에 sns사용으로 인한 오탐인것같습니다.</td>
                    <td>192.168.255.1</td>
                    <td>최소윤</td>
                    <td>대기중</td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>점심시간에 sns사용으로 인한 오탐인것같습니다.</td>
                    <td>192.168.255.1</td>
                    <td>허우영</td>
                    <td>대기중</td>
                </tr>
                
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="pagination-wrapper">
    <nav aria-label="">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">이전</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" tabindex="+1" aria-disabled="true">다음</a>
            </li>
        </ul>
    </nav>

    <div class="search-wrapper">
        <div class="input-group">
            <div class="form-outline">
                <input type="search" id="search-input" class="form-control" onkeydown="searchTable(event)" />
            </div>
            <button type="button" class="btn btn-primary" onclick="searchTable()">검색
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</div>


<script>
    function searchTable(event) {
        if (event.keyCode === 13 || event.type === 'click') {
            var input = document.getElementById('search-input').value.trim();
            var table = document.getElementsByTagName('table')[0];
            var rows = table.getElementsByTagName('tr');

            if (input === '') { // 검색어가 비어 있는 경우 모든 행을 표시
                Array.from(rows).forEach(function (row) {
                    row.style.display = '';
                });
                return;
            }

            for (var i = 0; i < rows.length; i++) {
                var cells = rows[i].getElementsByTagName('td');
                var match = false;

                var cell = cells[3]; // 컬럼 값 기준 검색
                if (cell) {
                    var text = cell.innerText || cell.textContent;
                    if (text.trim() === input) { // 번호가 일치하는 경우
                        match = true;
                    }
                }

                if (match) {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }
    }
</script>





{% endblock content %}